body {

    background-color: #fff;
    
    }
    
    header {
    
    background-color: #333;
    
    color: white;
    
    padding: 20px;
    margin: 50px
    } 
    section {
    
    background-color: #fff;
    
    padding: 5px; 
     margin-top: 10px;
    }
    
    footer {
    
    background-color:#333;
    
    color: white;
        
    padding: 10px;
   margin-top: 10px;
}
